header( style="background-image:url('./images/bkg.jpg')")
	.header-inner
		.app
			.logo
			.app-name Mikey,
			.subtitle Your Personal <br/> Surfing Coach

			.button.cta Get it Now

		.image( style="background-image:url('./images/app.png')")

.value-prop
	.block
		.inner
			.title Personalized Coaching
			.description Learn how to surf with professional coaching at every step of the way
		.image( style="background-image:url('./images/vp1.jpg')")

	.block
		.inner
			.title Personalized Coaching
			.description Learn how to surf with professional coaching at every step of the way
		.image( style="background-image:url('./images/vp1.jpg')")

	.block
		.inner
			.title Personalized Coaching
			.description Learn how to surf with professional coaching at every step of the way
		.image( style="background-image:url('./images/vp1.jpg')")

.footer-cta( style="background-image:url('./images/bkg.jpg')")
	.app
		.logo
		.app-name Mikey,
		.subtitle Your Personal <br/> Surfing Coach

		.button.cta Get it Now

footer
	ul
		li
			a(href="mailto:mikey@surfcoachmike.com") Contact Us
		li
			a(href="#") Privacy
		li
			a(href="#") Terms of Service
