- var vpImageWidth = 300
.modal#Modal
	.bkg#ModalBKG
	.inner
		.close#CloseModal
		span The app is about to be released, write down your email and we'll check in with you as soon as we have it!
		include mailchimp

header( style="background-image:url('./images/bkg.jpg')")
	.header-inner
		.hero
			.logo
			.app-name Mikey
			.subtitle Your Personal <br/> Surfing Coach

			.button#CTA1 Get it Now

		image.img( width='300' height='auto' src='./images/app.png')

.value-prop
	.block
		.inner
			h2.title Personalized <br/> Coaching
			.description Learn how to surf with professional coaching at every step of the way
		image.img( width=vpImageWidth height='auto' src='./images/vp1.jpg')

	.block
		.inner
			h2.title Learn from <br/>the best
			.description Everytime we chat we learn how to tailor your surfing roadmap so it exactly matches your level and your situation
		image.img( width=vpImageWidth height='auto' src='./images/vp2.jpg')

	.block
		.inner
			h2.title Ask Anything, <br/>Anytime
			.description Your coach will answer any doubt you have about anything related to your surfing
		image.img( width=vpImageWidth height='auto' src='./images/vp3.jpg')

.footer-cta( style="background-image:url('./images/bkg.jpg')")
	.hero
		.logo
		.app-name Mikey
		.subtitle Your Personal <br/> Surfing Coach

		.button#CTA2 Get it Now

include footer
