- var vpImageWidth = 300
header( style="background-image:url('./images/bkg.jpg')")
	.header-inner
		.hero
			.logo
			.app-name Mikey
			.subtitle Your Personal <br/> Surfing Coach

			.button#CTA1 Get it Now

		image.img( width='300' height='auto' src='./images/app.png')

.value-prop
	.block
		.inner
			h2.title Personalized <br/> Coaching
			.description Learn how to surf with professional coaching at every step of the way
		image.img( width=vpImageWidth height='auto' src='./images/vp1.jpg')

	.block
		.inner
			h2.title Learn from <br/>the best
			.description Learn how to surf with professional coaching at every step of the way
		image.img( width=vpImageWidth height='auto' src='./images/vp2.jpg')

	.block
		.inner
			h2.title Ask Anything, <br/>Anytime
			.description Learn how to surf with professional coaching at every step of the way
		image.img( width=vpImageWidth height='auto' src='./images/vp3.jpg')

.footer-cta( style="background-image:url('./images/bkg.jpg')")
	.hero
		.logo
		.app-name Mikey
		.subtitle Your Personal <br/> Surfing Coach

		.button#CTA2 Get it Now

footer
	ul
		li
			a(href="mailto:mikey@surfcoachmike.com") Contact Us
		li
			a(href="#") Privacy
		li
			a(href="#") Terms of Service
