@import "flexboxgrid.min.css";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.overflow {
  overflow: hidden;
}
.block {
  display: block;
}
.ib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.anchor {
  cursor: pointer;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
.hide,
.hidden {
  display: none;
  visibility: hidden;
}
.show,
.shown {
  display: block;
  visibility: visible;
}
.bold {
  font-weight: bold;
}
.upcase {
  text-transform: uppercase;
}
.lowcase {
  text-transform: lowercase;
}
.ignorecase {
  text-transform: none;
}
.tcenter {
  text-align: center;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.valign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.icon-16 {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
}
.icon-16 {
  width: 16px;
  height: 16px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  background-image: url("../images/sprite.png");
  background-repeat: no-repeat;
  text-indent: -9999px;
}
/*== TRANSITIONS ==*/
.clearfix:before,
.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.i {
  font-style: italic;
}
.b {
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}
.strike {
  text-decoration: line-through;
}
.ttc {
  text-transform: capitalize;
}
.ttu {
  text-transform: uppercase;
}
.hyphen {
  -hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.sans-serif {
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
}
.serif {
  font-family: georgia, times, serif;
}
.code {
  font-family: Consolas, monaco, monospace;
}
.courier {
  font-family: 'Courier Next', courier, monospace;
}
.helvetica {
  font-family: 'helvetica neue', helvetica, sans-serif;
}
.avenir {
  font-family: 'avenir next', avenir, sans-serif;
}
.athelas {
  font-family: athelas, georgia, serif;
}
.georgia {
  font-family: georgia, serif;
}
.times {
  font-family: times, serif;
}
.bodoni {
  font-family: "Bodoni MT", serif;
}
.calisto {
  font-family: "Calisto MT", serif;
}
.garamond {
  font-family: garamond, serif;
}
.baskerville {
  font-family: baskerville, serif;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fixed {
  position: fixed;
}
.tal {
  text-align: left;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.flx {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flx1 {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flx2 {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxCol {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxRow {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flxWrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aifs {
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aic {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.aife {
  -webkit-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcc {
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcfe {
  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcsb {
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.jcsa {
  -webkit-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asfs {
  -webkit-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asfe {
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.asc {
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.ass {
  -webkit-align-self: stretch;
  -ms-align-self: stretch;
  align-self: stretch;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.red {
  color: #ce3232;
}
.green {
  color: #a0ce32;
}
.orange {
  color: #ff8c00;
}
.blue {
  color: #0084FF;
}
.yellow {
  color: yellow;
}
.black {
  color: #131313;
}
.black90 {
  color: #2A2A2A;
}
.black80 {
  color: #424242;
}
.black70 {
  color: #595959;
}
.black60 {
  color: #717171;
}
.black50 {
  color: #898989;
}
.black40 {
  color: #A1A1A1;
}
.black30 {
  color: #B8B8B8;
}
.black20 {
  color: #D0D0D0;
}
.black10 {
  color: #E7E7E7;
}
.black05 {
  color: #F3F3F3;
}
.white {
  color: white;
}
.op100 {
  opacity: 1;
}
.op90 {
  opacity: 0.9;
}
.op80 {
  opacity: 0.8;
}
.op70 {
  opacity: 0.7;
}
.op60 {
  opacity: 0.6;
}
.op50 {
  opacity: 0.5;
}
.op40 {
  opacity: 0.4;
}
.op30 {
  opacity: 0.3;
}
.op20 {
  opacity: 0.2;
}
.op10 {
  opacity: 0.1;
}
.op0 {
  opacity: 0;
}
.anchor {
  cursor: pointer;
}
.cover {
  background-size: cover;
}
.cover-all {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.overflow {
  overflow: hidden;
}
.unselectable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.selectable {
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -o-user-select: text;
  user-select: text;
}
html,
body {
  width: 100%;
  height: 100%;
}
.app * {
  display: flex;
  flex-direction: column;
}
script {
  display: none !important;
}
.hp {
  padding-left: 32px;
  padding-right: 32px;
}
.contain {
  background-size: contain;
}
.bkg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.t1 {
  margin: 0;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0;
  color: #333333;
  font-weight: 500;
}
.t2 {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #333333;
  font-weight: 300;
}
header {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header .header-inner {
  width: 100%;
  max-width: 800px;
  padding-top: 56px;
  padding-bottom: 32px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  text-align: center;
}
header .img {
  margin-top: 20px;
}
.value-prop {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 56px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.value-prop .block {
  width: 100%;
  max-width: 800px;
  margin-bottom: 80px;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.value-prop .inner {
  max-width: 320px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  flex: 1;
  text-align: center;
}
.value-prop .title {
  margin: 0;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: 0;
  color: #333333;
  font-weight: 500;
  margin-bottom: 12px;
}
.value-prop .description {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #333333;
  font-weight: 300;
  margin-bottom: 24px;
}
.value-prop .img {
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  overflow: hidden;
  border: 2px solid #f2f2f2;
  -webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
}
.footer-cta {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  text-align: center;
}
.footer-cta > * {
  padding: 32px;
}
footer {
  width: 100%;
  background: #1B1B1B;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
footer ul {
  margin: 0;
  padding: 20px 0;
  padding-left: 32px;
  padding-right: 32px;
}
footer li {
  list-style: none;
  text-align: center;
}
footer a {
  display: block;
  padding: 20px;
  color: #808080;
  font-weight: 500;
}
.hero {
  max-width: 800px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  text-align: center;
}
.hero .logo {
  width: 92px;
  height: 92px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url("../images/logo.png");
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.hero .app-name {
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  color: white;
  font-weight: 600;
}
.hero .subtitle {
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  color: white;
  font-weight: 500;
}
.hero .logo {
  margin-bottom: 24px;
}
.hero .app-name {
  margin-bottom: 12px;
}
.hero .subtitle {
  margin-bottom: 24px;
}
.hero .button.cta {
  margin-bottom: 24px;
}
.button {
  padding: 16px 24px;
  background: rgba(0, 0, 0, 0.9);
  border-radius: 32px;
  -moz-border-radius: 32px;
  -webkit-border-radius: 32px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  -webkit-align-self: center;
  -ms-align-self: center;
  align-self: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.button:hover {
  color: orange;
}
a {
  text-decoration: none;
}
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  z-index: 999;
  visibility: hidden;
}
.modal .bkg {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.modal .inner {
  width: 280px;
  position: relative;
  padding: 20px;
  background: white;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2);
}
.modal span {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #333333;
  font-weight: 300;
  text-align: center;
}
.modal .email {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  color: #333333;
  font-weight: 300;
  text-align: center;
  margin: 12px 0 8px;
  padding: 8px 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}
.modal .button {
  border: 0;
}
.modal .response {
  margin-top: 12px;
}
.modal .response#mce-success-response {
  color: green;
}
.close:after {
  width: 20px;
  height: 20px;
  background: white;
  -webkit-align-self: flex-end;
  -ms-align-self: flex-end;
  align-self: flex-end;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: black;
  content: 'x';
  font-weight: bold;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
@media only screen and (min-width: 640px) {
  header .header-inner {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  header .img {
    margin-right: 20px;
  }
  .value-prop .block {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    margin-bottom: 120px;
  }
  .value-prop .inner {
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    text-align: left;
    margin-right: 20px;
    margin-left: 40px;
    flex: 2;
  }
  .value-prop .img {
    margin-top: 0;
    margin-right: 0px;
  }
  .app footer ul {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
  }
  .hero {
    flex: 1;
  }
}
@media only screen and (min-width: 800px) {
  .value-prop .inner {
    margin-right: 60px;
    margin-left: 100px;
    flex: 2;
  }
  .value-prop .img {
    margin-right: 20px;
  }
}
